@charset "UTF-8";
#userMenuWrapper {
    position: absolute;
    width: 247px;
    height: 44px;
    top: 2px;
    right: 10px;
}
#signInFormWrapper {
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 45px;
    background-color: #4f4f4f;
    width: 243px;
    max-height: 0px;
    outline: 1px solid black;
    padding: 2px;
    z-index: -1;
}
.signInFormInputsText {
    position: relative;
    width: 229px;
    padding: 0px 5px;
    margin-bottom: 3px;
}
.signInFormInputsButton {
    position: relative;
    width: 243px;
    color: #e2e2e2;
    background-color: grey;
    border: 1px solid black;
}
#signInFormWrapper {
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out, z-index 0.5s ease-out;
}